<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        GymFinder
      </a>
    </div>
    <div class="navbar-search">
      <input type="text" class="search-bar" placeholder="Search...">
      <!-- You can add a search icon or button here if needed -->
    </div>
    <div class="navbar-menu">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Your navbar items or links go here -->
        <ul class="navbar-nav ml-auto">
          <!-- Example item -->
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
